body {
    color: #333;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    margin: 0px auto 0px auto;
    max-width: 800px;
    padding: 0 40px;
    line-height: 1.5em;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

a:link    { color: #47e; text-decoration: none; }
a:visited { color: #47e; text-decoration: none; }
a:hover   { color: #25c; text-decoration: underline; }
a:active  { color: #25c; text-decoration: underline; }

pre, code {
    color #000;
    font-family: monospace;
    font-size: 0.88em;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;

    white-space: pre-wrap;
    word-wrap: break-word;

    padding: 5px 12px;
}

pre code {
    padding: 0;
    border: 0;
}

code {
    padding: 2px 5px;
}

/*pre, code {
  color: #000;
  font-family: monospace;
  font-size: 0.88em;
  border-radius:3px;
  background-color: #F8F8F8;
  border: 1px solid #ccc;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 5px 12px;
}

pre code {
    border: 0px !important;
    padding: 0;
}

code {
    padding: 0 3px 0 3px;
}
*/
