.postlist article {
    border-top: 1px solid #FFD2EF;
    border-bottom: 1px solid #FFD2EF;
    padding-bottom: 20px;
    margin-bottom: -1px;
}

/*.postlist time {
    font-size: 0.8em;
    color: #999;
}
*/
